<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ruleengine.web.store.mapper.WorkplaceMapper">
    <select id="projectInProgress" resultType="cn.ruleengine.web.vo.workplace.ProjectInProgressResponse">
        select *
        from ((select 0               as dataType,
                      rr.id,
                      rr.update_time  as updateTime,
                      create_user_id  as createUserId,
                      status,
                      rr.description,
                      current_version as currentVersion,
                      name,
                      code,
                      username        as createUsername
               from rule_engine_general_rule rr,
                    rule_engine_user ru
               where rr.deleted = 0
                 and rr.create_user_id = ru.id
                 and rr.workspace_id = #{id})
              union
              (select 1               as dataType,
                      rrs.id,
                      rrs.update_time as updateTime,
                      create_user_id  as createUserId,
                      status,
                      rrs.description,
                      current_version as currentVersion,
                      name,
                      code,
                      username        as createUsername
               from rule_engine_rule_set rrs,
                    rule_engine_user ru
               where rrs.deleted = 0
                 and rrs.create_user_id = ru.id
                 and rrs.workspace_id = #{id})) a
        order by a.updateTime desc limit 9
    </select>

    <select id="numberOfCreationsRanking" resultType="cn.ruleengine.web.vo.workplace.NumberOfCreationsRankingResponse">
        select sum(dataType = 1) as ruleSetNumber, sum(dataType = 0) as generalRuleNumber, createUserId, createUsername
        from ((select 0              as dataType,
                      rr.id,
                      create_user_id as createUserId,
                      username       as createUsername
               from rule_engine_general_rule rr,
                    rule_engine_user ru
               where rr.deleted = 0
                 and rr.create_user_id = ru.id
             )
              union
              (select 1              as dataType,
                      rrs.id,
                      create_user_id as createUserId,
                      username       as createUsername
               from rule_engine_rule_set rrs,
                    rule_engine_user ru
               where rrs.deleted = 0
                 and rrs.create_user_id = ru.id
                 )) a
        group by createUserId
                limit 10
    </select>
</mapper>
